--extra-index-url https://download.pytorch.org/whl/cu121

Telethon>=1.36.0,<2.0.0
cryptg>=0.4.0,<1.0.0

ntgcalls==2.1.0

torch==2.5.1+cu121
torchaudio==2.5.1+cu121

faster-whisper>=1.0.0,<2.0.0

TTS==0.22.0

numpy>=1.26.0,<2.0.0
scipy>=1.13.0,<2.0.0
soundfile>=0.12.1,<1.0.0
